# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Secrets & certificates
certs/
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
