# Virtual environment
venv/
.venv/

.env

# Python cache
__pycache__/
*.pyc
*.py[cod]
*$py.class


# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Model / data artifacts
*.npy
*.pkl

# Elasticsearch / embeddings output
ingestion/data/
indexes/


# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# Mac
.AppleDouble
.LSOverride