# Virtual environment
venv/
.env/
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# Logs
*.log

# Model / data artifacts
*.npy
*.pkl

# Elasticsearch / embeddings output
data/
indexes/
